.buttonStyle {
    text-align: center;
    padding: 17px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 10px;
    transition: all 0.5s ease;
    font-weight: bold;
    color: white;
}

.buttonStyle:hover {
    letter-spacing: 3px;
    background-color: hsl(120, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(18, 211, 50) 0px 7px 29px 0px;
}

.buttonStyle:active {
    letter-spacing: 3px;
    background-color: hsl(128, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(13, 209, 39) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}